html,
body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.content {
    width: 100%;
    height: 100%;
}

.stage {
  position: relative;

  width: 1890px;
  height: 680px; 
}


/*imgage --start */

.img-sec {
    position: relative;

    width: 100%;
    height: 100%;

    background-color: #ddd;

    overflow: hidden;

    @at-root {
        .img-figure {
          position: absolute;

            width: 320px;
            height: 360px;
            margin: 0;
            padding: 40px;
            background: #fff;

            box-sizing: border-box;
        }
        figcaption {
            text-align: center;
            .img-title {
                margin-top: 20px 0 0 0;
                color: #a7a0a2;
                font-size: 16px;
            }
        }
    }
}
.img-figure img {
  width: 240px;
  height: 240px;
}

/*image--end*/


/*controller --start*/

.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;

    width: 100%;
    text-align: center;
}
/*controller--end*/
